# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.suo
*.user
*.sdf
*.opensdf
*.bin
Debug/
Release/
x64/
Win32/
*-ubyte
*.pdb

/build/
